<section>
  <div class="jumbotron text-center">
    <div class="row">
      <div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-12">
        <img alt="MEAN.JS" class="img-responsive text-center" src="/modules/core/client/img/brand/logo.png" />
      </div>
    </div>
    <br>
    <div class="row">
      <p class="lead" ng-if="vm.authentication">
        Welcome back, <span ng-bind="vm.authentication.user.firstName"></span>!
        Your current account balance is: &#8377;<span ng-bind="vm.authentication.user.amountDue"></span>
      </p>
      <p class="lead" ng-hide="vm.authentication">
        Welcome to Gopi! We're an on-demand daily milk delivery service. Click
        Sign Up to get started.
      </p>
    </div>
    <div class="row" ng-if="vm.authentication.user && vm.authentication.user.amountDue > 0">
      <p>
        <a class="btn btn-primary btn-lg" href="http://meanjs.org" target="_blank">Pay Now</a>
      </p>
    </div>
  </div>
  <div class="well" ng-if="vm.authentication">
    <h3>Your Order details</h3>
    <p> Order Status:
      <span ng-if="vm.authentication.user.active"> Active</span>
      <span ng-if="!vm.authentication.user.active"> Inactive</span>
    </p>
    <p> Order Quantity: <span ng-bind="vm.authentication.user.quantity"></span> L </p>
    <p> Order Type:
      <ul>
        <li>
          Double Toned: {{vm.milkType["double-toned"]}} L
        </li>
        <li>
          Toned: {{vm.milkType["toned"]}} L
        </li>
      </ul>
    </p>
    <p> Delivery Time Slot: <span ng-bind="vm.authentication.user.timeSlot"> </span> AM
      - <span ng-bind="vm.end_slot"> </span> AM</p>
    <p> Go to Edit Order to pause your order or change your quantity/time slot
       for future deliveries </p>
  </div>
  <div class="well" ng-hide="vm.authentication">
    <h3>Features</h2>
    <p> Gopi is an on-demand daily milk delivery service </p>
    <p> You can change the amount you want and when you want it to be delivered
      on a daily basis very easily</p>
    <p> We also have an integrated payment system so you can pay for your
      milk with a credit/debit card, online wallets, and even UPI!</p>
  </div>
  <br> <a ui-sref="privacy">Privacy Policy</a>
  <br> <a ui-sref="terms">Terms and Conditions</a>
</section>
