<section>
  <div class="jumbotron text-center">
    <div class="row">
      <div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-12">
        <img alt="MEAN.JS" class="img-responsive text-center" src="/modules/core/client/img/brand/logo.png" />
      </div>
    </div>
    <br>
    <div class="row" ng-if="vm.authentication.user">
      <p class="lead">
        Welcome back, <span ng-bind="vm.authentication.user.firstName"></span>!
        Your current account balance is: &#8377;<span ng-bind="vm.authentication.user.amountDue"></span>
      </p>
    </div>
    <div class="row" ng-if="vm.authentication.user && vm.authentication.user.amountDue > 0">
      <p>
        <a class="btn btn-primary btn-lg" href="http://meanjs.org" target="_blank">Pay Now</a>
      </p>
    </div>
  </div>
  <div class="well">
    <h2>TODO</h2>
    <p>
      Need to add more stuff here:
    </p>
  </div>
  <br> <a ui-sref="privacy">Privacy Policy</a>
  <br> <a ui-sref="terms">Terms and Conditions</a>
</section>
